components:
  schemas:
    Project:
      type: object
      properties:
        name:
          type: string
          required: true
        title:
          type: string
          required: true
        isEnabled:
          type: boolean
          
    Error:
      properties:
        error:
          type: string
          example: Example error

    Company:
      properties:
        uuid:
          type: string
          required: true
        title:
          type: string
          required: true

/project:
  post:
    tags:
      - Project
    summary: Create a project
    description: Add a new project to the database
    security:
      - bearerAuth: []
    produces:
      - application/json
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Project'
    responses:
      '200':
        description: Success
        schema:
          $ref: '#/components/schemas/Error'
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/components/schemas/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/components/schemas/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/components/schemas/Error'

  get:
    tags:
      - Project
    summary: Get project or a project list
    description: If the UUID or name params is provided this endpoint returns a single project otherwise returns a list of projects
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
      - name: name
        in: query
        type: string
      - name: limit
        in: query
        type: integer
      - name: offset
        in: query
        type: integer
    responses:
      '200':
        description: Success
        schema:
          $ref: '#/components/schemas/Project'
      '204':
        description: Success no project
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/components/schemas/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/components/schemas/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/components/schemas/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/components/schemas/Error'

  delete:
    tags:
      - Project
    summary: Delete a project
    description: Delete a project from its UUID
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        required: true
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
    responses:
      '204':
        description: Success
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/components/schemas/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/components/schemas/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/components/schemas/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/components/schemas/Error'

  patch:
    tags:
      - Project
    summary: Update a project
    description: Update a project from its UUID
    security:
      - bearerAuth: []
    produces:
      - application/json
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Project'
    responses:
      '204':
        description: Success
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/components/schemas/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/components/schemas/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/components/schemas/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/components/schemas/Error'

/project/enable:
  post:
    tags:
      - Project
    summary: Enable a project
    description: Enable a project from its UUID
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        required: true
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
    responses:
      '204':
        description: Success
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/components/schemas/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/components/schemas/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/components/schemas/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/components/schemas/Error'

/project/disable:
  post:
    tags:
      - Project
    summary: Disable a project
    description: Disable a project from its UUID
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        required: true
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
    responses:
      '204':
        description: Success
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/components/schemas/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/components/schemas/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/components/schemas/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/components/schemas/Error'

/project/company:
  get:
    tags:
      - Project
    summary: Get list of companies available to select in a project
    description: If the UUID or name params is provided this endpoint returns a single company otherwise returns a list of companies
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
      - name: name
        in: query
        type: string
      - name: limit
        in: query
        type: integer
      - name: offset
        in: query
        type: integer
    responses:
      '200':
        description: Success
        schema:
          $ref: '#/components/schemas/Company'
      '204':
        description: Success no company
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/components/schemas/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/components/schemas/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/components/schemas/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/components/schemas/Error'
