definitions:
  Identity:
    properties:
      userId:
        type: string
      typeId:
        type: integer
      data:
        type: object

  Login:
    type: object
    properties:
      username:
        type: string
        required: true
        example: admin
      password:
        type: string
        format: password
        required: true
        example: 1234
      deviceId:
        type: string
        example: null
      sessionIndex:
        type: string
        example: null

  Auth:
    properties:
      index:
        type: string
        example: null
      authToken:
        type: string
        example: adfa9d8fa0s9d8f7a09d8f7a0d7f0a9sf7a...

  Error:
    properties:
      error:
        type: string
        example: Example error

/login:
  get:
    tags:
      - Authorization
    summary: Login form
    description: Get login form definition
    produces:
      - application/json
    parameters:
      - name: $form
        in: query
        value: 1
        required: true
        allowEmptyValue: false
    responses:
      '200':
        description: Success

  post:
    tags:
      - Authorization
    summary: Login
    description: Get credential for use the system
    produces:
      - application/json
    consumes:
      - application/json
    requestBody:
      required: true
      content: 
        application/json:
          schema:
            $ref: '#/definitions/Login'
    responses:
      '201':
        description: Success
        schema:
            $ref: '#/definitions/Auth'
      '400':
        description: Missing parameters
        schema:
          $ref: '#/definitions/Error'
      '403':
        description: Invalid login, failed login, or other error
        schema:
          $ref: '#/definitions/Error'

/login/check:
  get:
    tags:
      - Authorization
    summary: Check login
    description: Check login credentials for validity
    responses:
      '204':
        description: Success
      '400':
        description: Unauthorized