definitions:
  Session:
    type: object
    properties:
      username:
        type: string
        required: true
        example: admin
      displayName:
        type: string
        required: true
        example: Admin
      typeId:
        type: integer
      isEnabled:
        type: boolean

/session:
  get:
    tags:
      - Session
    summary: Get session or a session list
    description: If the UUID or authToken params is provided this endpoint returns a single session otherwise returns a session list
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
      - name: authToken
        in: query
        type: string
      - name: limit
        in: query
        type: integer
      - name: offset
        in: query
        type: integer
    responses:
      '200':
        description: Success
        schema:
          $ref: '#/definitions/Session'
      '204':
        description: Success no session
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/definitions/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'

  delete:
    tags:
      - Session
    summary: Delete an session
    description: Delete a session from its UUID
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        required: true
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
    responses:
      '204':
        description: Success
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/definitions/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
