definitions:
  Company:
    type: object
    properties:
      name:
        type: string
        required: true
        example: admin
      title:
        type: string
        required: true
        example: Admin
      typeId:
        type: integer
      isEnabled:
        type: boolean

/company:
  post:
    tags:
      - Company
    summary: Create a company
    description: Add a new company to the database
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Company'
    responses:
      '200':
        description: Success
        schema:
          $ref: '#/definitions/Error'
      '400':
        description: Missing parameters
        schema:
          $ref: '#/definitions/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'

  get:
    tags:
      - Company
    summary: Get company or a company list
    description: If the UUID or name params is provided this endpoint returns a single company otherwise returns a list of companies
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
      - name: name
        in: query
        type: string
        example: admin
      - name: limit
        in: query
        type: int
      - name: offset
        in: query
        type: int
    responses:
      '200':
        description: Success
        schema:
          $ref: '#/definitions/Company'
      '204':
        description: Success no company
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/definitions/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'

  delete:
    tags:
      - Company
    summary: Delete a company
    description: Delete a company from its UUID
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        required: true
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
    responses:
      '204':
        description: Success
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/definitions/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'


  patch:
    tags:
      - Company
    summary: Update a company
    description: Update a company from its UUID
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Company'
    responses:
      '204':
        description: Success
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/definitions/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'

/company/enable:
  post:
    tags:
      - Company
    summary: Enable a company
    description: Enable a company from its UUID
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        required: true
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
    responses:
      '204':
        description: Success
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/definitions/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'

/company/disable:
  post:
    tags:
      - Company
    summary: Disable a company
    description: Disable a company from its UUID
    security:
      - bearerAuth: []
    produces:
      - application/json
    parameters:
      - name: uuid
        in: query
        type: string
        format: UUID
        required: true
        example: 018DDC35-FB33-415C-B14B-5DBE49B1E9BC
    responses:
      '204':
        description: Success
      '400':
        description: Missing parameters or parameters error
        schema:
          $ref: '#/definitions/Error'
      '401':
        description: Unauthorized
        schema:
          $ref: '#/definitions/Error'
      '403':
        description: Forbidden
        schema:
          $ref: '#/definitions/Error'
      '500':
        description: Internal server error
        schema:
          $ref: '#/definitions/Error'
